<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <!-- <link rel="stylesheet" type="text/css" href="/text/assets/styles/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/text/assets/styles/github-dark.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/text/assets/styles/print.css" media="print"> -->
	<link rel="stylesheet" type="text/css" href="/Mypage/style/columns.css" media="print">
    <title>{{ page.title }} - @hiromaru8</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>
        	<a href="https://hiromaru8.github.io/Mypage/">
        		@hiromaru8
        	</a>
       	</h1>
        <h2>参考にしているwebサイトとかをまとめていきます</h2>

        <section id="downloads">
          <a href="https://github.com/hiromaru8/Mypage" class="btn btn-github">
	    <span class="icon"></span>View on GitHub
	  </a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
	{{ content }}
      </section>
    </div>

    
  </body>
</html>
